In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets

In [11]:
data = pd.read_csv("Assignment_dataset.csv")

In [3]:
# 1. Initial Data Exploration:
print(data.head())
print("\nShape of the dataset:", data.shape)
print("\nData types of each column:")
print(data.dtypes)
print("\nMissing values in each column:")
print(data.isnull().sum())

# check different values of features

   ADMISSION  NATURAL_SCIENCE_SCORE  ENGLISH_SCORE  READING_SCORE  MATH_SCORE  \
0      False                     49             48             57          25
1      False                     60             55             68          60
2       True                     76             79             68         100
3       True                     73             79             66          83
4      False                     52             56             56          28

   SOCIAL_SCIENCE_SCORE SCHOOL_CALENDAR  PUBLIC_SCHOOL  BILINGUAL_SCHOOL  \
0                    48               A           True             False
1                    68               A           True             False
2                    72               A          False             False
3                    72               A          False             False
4                    53               A           True             False

  GENDER   AGE PARENTS_EDUCATION FAMILY_INCOME_LEVEL PEOPLE_AT_HOME  \
0      F  16.0        Vocational                   3         3 or 4
1      M  17.0           Primary                   1             7+
2      M  17.0        University                   3         3 or 4
3      M  17.0        University                   3         3 or 4
4      F  15.0           Primary                   1         3 or 4

   FAMILY_HAS_CAR  HAS_INTERNET_ACCESS
0           False                 True
1           False                 True
2           False                 True
3           False                 True
4           False                False

Shape of the dataset: (136878, 16)

Data types of each column:
ADMISSION                   bool
NATURAL_SCIENCE_SCORE      int64
ENGLISH_SCORE              int64
READING_SCORE              int64
MATH_SCORE                 int64
SOCIAL_SCIENCE_SCORE       int64
SCHOOL_CALENDAR           object
PUBLIC_SCHOOL               bool
BILINGUAL_SCHOOL            bool
GENDER                    object
AGE                      float64
PARENTS_EDUCATION         object
FAMILY_INCOME_LEVEL       object
PEOPLE_AT_HOME            object
FAMILY_HAS_CAR              bool
HAS_INTERNET_ACCESS         bool
dtype: object

Missing values in each column:
ADMISSION                  0
NATURAL_SCIENCE_SCORE      0
ENGLISH_SCORE              0
READING_SCORE              0
MATH_SCORE                 0
SOCIAL_SCIENCE_SCORE       0
SCHOOL_CALENDAR            0
PUBLIC_SCHOOL              0
BILINGUAL_SCHOOL           0
GENDER                     0
AGE                        0
PARENTS_EDUCATION        831
FAMILY_INCOME_LEVEL        0
PEOPLE_AT_HOME             0
FAMILY_HAS_CAR             0
HAS_INTERNET_ACCESS        0
dtype: int64

In [4]:
# 2. Summary Statistics:
print("\nSummary statistics for numerical columns:")
print(data.describe())

Summary statistics for numerical columns:
       NATURAL_SCIENCE_SCORE  ENGLISH_SCORE  READING_SCORE     MATH_SCORE  \
count          136878.000000  136878.000000  136878.000000  136878.000000
mean               57.231199      59.650828      58.252436      54.504500
std                10.216689      13.367733       9.202312      20.038892
min                20.000000       0.000000       2.000000       0.000000
25%                50.000000      50.000000      52.000000      40.000000
50%                57.000000      58.000000      58.000000      53.000000
75%                64.000000      68.000000      65.000000      68.000000
max               100.000000     100.000000     100.000000     100.000000

       SOCIAL_SCIENCE_SCORE            AGE
count         136878.000000  136878.000000
mean              58.033292      16.862082
std               10.270291       0.863900
min               14.000000      15.000000
25%               51.000000      16.000000
50%               58.000000      17.000000
75%               65.000000      17.000000
max              100.000000      20.000000

In [9]:
categorical_columns = data.select_dtypes(include=['object'])
numerical_columns = data.select_dtypes(include=['number'])
binary_columns = data.select_dtypes(include=['bool'])

In [12]:
# data